<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Runner game <small></small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12" id="game-container">

            </div>
        </div>

    </section>
</div>



<div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <form class="" id="submit-answer" action="" question-id="">
            <div class="modal-body">

                <div class="question-container">
                    <div class="question">

                    </div>
                    <div class="question-choices">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="restart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

        </div>
    </div>
</div>