<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2017 .</strong> A game n questionnaire app
    </div>
    <!-- /.container -->
</footer>