<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>Game</b>App</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/main/about">About</a></li>
                    <%if(user.id != 0){%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/profile">Profile</a></li>
                            <%if(user.role_id != 3){%>
                            <li><a href="/user/manage">People</a></li>
                            <li><a href="/questionnaire/manage">Questionnaires</a></li>
                            <%}%>
                        </ul>
                    </li>
                    <%}%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs"><%-user.fname%> <%-user.lname%></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header" style="height: auto">
                                <%if(user.id != 0){%>
                                <p>
                                    <%-user.fname%> <%-user.lname%>
                                </p>
                                <%}else{%>
                                <form class="" id="login" action="/api/login" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="login-email" name="login-email" placeholder="Email">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Password">
                                        <span class="error"></span>
                                    </div>

                                </form>

                                <%}%>
                            </li>
                            <%if(user.id != 0){%>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/user/profile" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/user/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                            <%}else{%>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/api/login" target-form="#login" class="btn btn-default btn-flat ajax">Login</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#register-box" class="btn btn-default btn-flat">Register</a>
                                </div>
                            </li>

                            <%}%>
                        </ul>
                    </li>
                </ul>
            </div>


            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>