<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Questionnaires
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Create new questionnaire</h3>
            </div>
            <div class="box-body">
                <form role="form" action="/api/create_questionnaire" method="post" id="create-questionnaire-form"
                      data-redirect="/" data-message="#notif">
                    <div class="box-body">
                        <p id="notif"></p>

                        <div class="form-group">
                            <label for="questionnaire-title">Title</label>
                            <input type="text" class="form-control" id="questionnaire-title" name="questionnaire-title"
                                   placeholder="Title of questionnaire">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="questionnaire-description">Description</label>
                            <textarea class="form-control" id="questionnaire-description" name="questionnaire-description"></textarea>
                            <span class="error"></span>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button data-action="submit" class="btn btn-flat btn-primary">Submit</button>
                    </div>
                </form>



                <div class="questions-container">


                </div>





            </div>
        </div>

    </section>
</div>