<% layout('layouts/default') -%>

<div class="container" id="questionnaire-edit-page" questionnaire-id="<%-questionnaire.id%>">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%-questionnaire.title%>
            <small>questionnaire</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary btn-flat question-control" action="create">
                    Add Question
                </button>
            </div>
            <div class="box-body">
                <div class="questions-container">
                    <table class="table table-striped" id="questions">
                        <thead>
                        <tr>
                            <td>Questions</td>
                            <td>Actions</td>
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>


                    </table>

                </div>


            </div>


        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                Scores
            </div>
            <div class="box-body">
                <div class="questions-container">
                    <table class="table table-striped" id="questionnaire-scores" questionnaire-id="<%-questionnaire.id%>">
                        <thead>
                        <tr>
                            <td>Student</td>
                            <td>Score</td>
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>


                    </table>

                </div>


            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="create-question" question-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add question</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="question-input">Question</label>
                    <textarea class="form-control" id="question-input" name="question-input"></textarea>
                    <span class="error"></span>
                </div>
                <div class="form-group">
                    <label>Choices (Check the box which corresponds to the corrent answer)</label>
                </div>
                <div class="form-group choices-container">

                </div>

                <!-- /.box-body -->

                <div class="choice-template">
                    <div class="checkbox-group">
                        <span class="error"></span>
                        <div class="checkbox-container">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="" name="answer" value=""
                                       placeholder="" data-single="true">
                                <input type="text" class="form-control" name="choice-input" data-answer="" value=""
                                       placeholder="">
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="" name="answer" value=""
                                       placeholder="" data-single="true">
                                <input type="text" class="form-control" name="choice-input" data-answer="" value=""
                                       placeholder="">
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="" name="answer" value=""
                                       placeholder="" data-single="true">
                                <input type="text" class="form-control" name="choice-input" data-answer="" value=""
                                       placeholder="">
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="" name="answer" value=""
                                       placeholder="" data-single="true">
                                <input type="text" class="form-control" name="choice-input" data-answer="" value=""
                                       placeholder="">
                            </label>
                        </div>

                    </div>
                    <div class="hidden choice-template-append">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="" name="answer" value=""
                                   placeholder="" data-single="true">
                            <input type="text" class="form-control" name="choice-input" data-answer="" value=""
                                   placeholder="">
                        </label>
                    </div>
                    <button class="btn btn-primary btn-flat" id="add-choices">Add choices</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" questionnaire-id="<%-questionnaire.id%>" class="btn btn-primary"
                            id="add-submit-question">Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
