<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Questionnaires
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <p>Create questionnaire</p>
                <a href="/questionnaire/create" class="btn btn-primary btn-flat ques-control" action="create">Create</a>
            </div>
            <!-- /.box-body -->
        </div>


        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <table class="table table-striped" id="data-quest">
                    <thead>
                    <tr>
                        <th>Questionnaire</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Questionnaire</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>


        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>