<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Users
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary box-create">
            <div class="box-body">
                <p>Create user</p>
                <a href="/user/create" class="btn btn-primary btn-flat user-control" action="create">Create</a>
            </div>
            <!-- /.box-body -->
        </div>


        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <table class="table table-striped" id="data-users">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>


        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="create-edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User <span id="user-id"></span></h4>
            </div>
            <form role="form" action="/api/create_user" method="post" id="create-edit-form" data-redirect="/"
                  data-message="#notif">
                <div class="modal-body">

                    <div class="box-body">
                        <p id="notif"></p>
                        <div class="form-group">
                            <label for="role-id">Role</label>
                            <select type="text" class="form-control" id="role-id" name="role-id"
                                   placeholder="Enter valid email">
                                <%if(user.role_id == 1){%>
                                <option value="2">Teacher</option>
                                <option value="3">Student</option>
                                <%}%>
                                <%if(user.role_id == 2){%>
                                <option value="3">Student</option>
                                <%}%>
                            </select>
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value=""
                                   placeholder="Enter valid email">
                            <span class="error"></span>
                        </div>
                        <input type="hidden" class="form-control" id="update-id" name="update-id" value="" placeholder="Enter valid email">

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   value="" placeholder="Enter desired username. Contains no spaces">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">First name</label>
                            <input type="text" class="form-control" id="first-name" name="first-name"
                                   value="" placeholder="">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">Last name</label>
                            <input type="text" class="form-control" id="last-name" name="last-name"
                                   value="" placeholder="">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Password">
                            <span class="error"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-flat btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-flat btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


