<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Profile
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Edit profile</h3>
            </div>
            <div class="box-body">
                <form role="form" action="/api/update_profile" method="post" id="update-user-profile" data-redirect="/" data-message="#notif">
                    <div class="box-body">
                        <p id="notif"></p>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value="<%-data.email%>" placeholder="Enter valid email">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="<%-data.username%>" placeholder="Enter desired username. Contains no spaces">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">First name</label>
                            <input type="text" class="form-control" id="first-name" name="first-name" value="<%-data.person.first_name%>" placeholder="">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">Last name</label>
                            <input type="text" class="form-control" id="last-name" name="last-name" value="<%-data.person.last_name%>" placeholder="">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="change-password">Change Password</label>
                            <input type="password" class="form-control" name="change-password" id="change-password" placeholder="Password">
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="repeat-password">Repeat Password</label>
                            <input type="password" class="form-control" name="repeat-password" id="repeat-password" placeholder="Password">
                            <span class="error"></span>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <p>To save changes, please type current password</p>
                        <div class="form-group">
                            <label for="current-password">Type current password</label>
                            <input type="password" class="form-control" name="current-password" id="current-password" placeholder="Password">
                            <span class="error"></span>
                        </div>
                        <button type="submit" class="btn btn-flat btn-primary">Update profile</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>