

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.success{
    color: #44ae04;
    font-size:12px;
}

.error{
    color:red;
    font-size:12px;
}

span.error{
    color:red;
    font-size:12px;

}

.field-error{
    border-color: red;
}

#notif{
    color:green;
    font-size:12px;

}


#game-container canvas{
    width: auto;
}



.choice-template .checkbox-inline{
    width: 100%;
    margin: 0;
}
.choice-template .checkbox-container{
    margin-bottom: 10px;
}



