<% layout('layouts/default') -%>
<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Error
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 403</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Sorry You're not permitted to access this page.</h3>

                <p>
                    We could not process your request.
                    Meanwhile, you may <a href="/">return to the Home page</a>
                </p>
            </div>
            <!-- /.error-content -->
        </div>
    </section>
</div>