<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            About us
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">The school</h3>
            </div>
            <div class="box-body">
                <p>About the school</p>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">The Game</h3>
            </div>
            <div class="box-body">
                <p>About the game application</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>