<% layout('layouts/default') -%>

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Home
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="callout callout-info">
            <h4>Try our game!</h4>

            <p>You can try our game app <%if(user.id == 0){%><a class="" href="#register-box">Please register first</a><%}else{%><a class="" href="/game">Proceed</a><%}%></p>
        </div>
        <%if(user.id == 0){%>
        <div class="box box-default" id="register-box">
            <div class="box-header with-border">
                <h3 class="box-title">Register Now</h3>
            </div>
            <form role="form" action="/api/register" method="post" id="register-user-form" data-redirect="/" data-message="#notif">
                <div class="box-body">
                    <p id="notif"></p>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter valid email">
                        <span class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter desired username. Contains no spaces">
                        <span class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">First name</label>
                        <input type="text" class="form-control" id="first-name" name="first-name" placeholder="">
                        <span class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">Last name</label>
                        <input type="text" class="form-control" id="last-name" name="last-name" placeholder="">
                        <span class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        <span class="error"></span>
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-flat btn-primary">Submit</button>
                </div>
            </form>
            <!-- /.box-body -->
        </div>
        <%}%>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>