<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%-params.title%></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <%-assets.render('default').css%>
    <script type="text/javascript">var page_name = "<%-params.name%>",site_url= "<%-site_url%>",person_id="";</script>
    <%-assets.render('default').js%>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition <%-skin%> <%-pageType%>">
<div class="wrapper">

    <%include ../partials/header.html%>
    <!-- Left side column. contains the logo and sidebar -->



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <%-body%>
    </div>

    <%include ../partials/footer.html%>




</div>


<%- block('footer').toString() %>

</body>
</html>
